<!--
<p>
  movies works!
</p>
<div>
  <table>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Studio</th>
      <th>Weekend Income</th>
    </tr>
  </table>
      <movie *ngFor = "let movie of decmovies" [data]="movie">    
      </movie>
</div>

-->


<mat-grid-list
  cols="1"
  rowHeight="50px"> 
  <movie
  *ngFor = "let movie of decmovies"
    [data] = "movie"
    (myButtonClicked) = "showTitle($event)"> <!--כל המידע שהגיע מאיבנט-אמיטר נכנס לתוך איבנט--> >
  </movie>
</mat-grid-list>

<div style = "text-align: center;">
  the movie you deleted is: {{titleFromMovie}}
</div>